<header class="header">
  <a href="/dashboard" class="header__logo">Admin Panel</a>

  <!-- <nav class="header__nav">
    <ul>
      <li>
        <a href="/songs" class="">Songs</a>
      </li>
      <li>
        <a href="/Metronome" class="">Metronome</a>
      </li>
      <li>
        <a href="/chord-Chart" class="">chord Chart</a>
      </li>
      <li>
        <a href="/Fret-Notes" class="">Fret Notes</a>
      </li>
    </ul>
  </nav> -->
  <nav class="header__nav">
    <ul>
      <!-- <li>
        <a href="/about" class="">About</a>
      </li>
      <li>
        <a href="/songs" class="">Songs</a>
      </li>
      <li>
        <a href="/Metronome" class="">Metronome</a>
      </li>
      <li>
        <a href="/Fret-Notes" class="">Fret Notes</a>
      </li>
      <li>
        <a href="/chord-Chart" class="">chord Chart</a>
      </li> -->
      <li>
        <a href="/add-post">Add Posts</a>
      </li>
      <li>
        <a href="/dashboard">Edit Posts</a>
      </li>
      <li>
        <a href="/song-requests">Requested Songs</a>
      </li>
    </ul>
  </nav>

  <div class="header__button">
    <a href="/logout">
      Logout
    </a>
  </div>

</header>