
<head>
    <!-- <link rel="stylesheet" href="/css/Chord-Chart.css"> -->
    <link rel="stylesheet" href="/css/testing.css">
</head>
<body>
    <h1>Chords Chart</h1>

    <!-- <marquee behavior="" direction=""><img src="/img/Screenshot (2).png" alt=""></marquee> -->

    
    <div class="main">

    <div class="slider">
        <!-- C =================================== -->
        <p>C</p> 

        <a href="#slide-1">Major</a>
        <a href="#slide-2">Minor</a>
        <a href="#slide-3">5</a>
        <a href="#slide-4">7</a>
        <a href="#slide-5">maj7</a>

        <div class="slides">
            <div id="slide-1">
                <img src="/img/imgs/4.png" alt="">
            </div>
            <div id="slide-2">
                <img src="/img/imgs/3.png" alt="">
            </div>
            <div id="slide-3">
                <img src="/img/imgs/2.png" alt="">
            </div>
            <div id="slide-4">
                <img src="/img/imgs/1.png" alt="">
            </div>
            <div id="slide-5">
                <!-- <img src="5.png" alt=""> -->
                <img src="/img/imgs/5.png" alt="">
            </div>
        </div>
    </div>

    
    <!-- C# =================================== -->
    <div class="slider"> 
        <p>C#</p>

        <a href="#slide-6">Major</a>
        <a href="#slide-7">Minor</a>
        <a href="#slide-8">5</a>
        <a href="#slide-9">7</a>
        <a href="#slide-10">maj7</a>

        <div class="slides">
            <div id="slide-6">
                <!-- <img src="../public/imgs/8.png" alt=""> -->
                <img src="/img/imgs/8.png" alt="">
            </div>
            <div id="slide-7">
                <img src="/img/imgs/11.png" alt="">
            </div>
            <div id="slide-8">
                <img src="/img/imgs/10.png" alt="">
            </div>
            <div id="slide-9">
                <img src="/img/imgs/9.png" alt="">
            </div>
            <div id="slide-10">
                <img src="/img/imgs/7.png" alt="">
            </div>
        </div>
    </div>

    
    <!-- D =================================== -->
    <div class="slider">
        <p>D</p>
        
        <a href="#slide-11">Major</a>
        <a href="#slide-12">Minor</a>
        <a href="#slide-13">5</a>
        <a href="#slide-14">7</a>
        <a href="#slide-15">maj7</a>

        <div class="slides">
            <div id="slide-11">
                <img src="/img/imgs/16.png" alt="">
            </div>
            <div id="slide-12">
                <img src="/img/imgs/15.png" alt="">
            </div>
            <div id="slide-13">
                <img src="/img/imgs/17.png" alt="">
            </div>
            <div id="slide-14">
                <img src="/img/imgs/14.png" alt="">
            </div>
            <div id="slide-15">
                <img src="/img/imgs/13.png" alt="">
            </div>
        </div>
    </div>

    
    <!-- D# =================================== -->
    <div class="slider">
        <p>D#</p>
        
        <a href="#slide-16">Major</a>
        <a href="#slide-17">Minor</a>
        <a href="#slide-18">5</a>
        <a href="#slide-19">7</a>
        <a href="#slide-20">maj7</a>

        <div class="slides">
            <div id="slide-16">
                <img src="/img/imgs/1.png" alt="">
            </div>
            <div id="slide-17">
                <img src="/img/imgs/2.png" alt="">
            </div>
            <div id="slide-18">
                <img src="/img/imgs/3.png" alt="">
            </div>
            <div id="slide-19">
                <img src="/img/imgs/4.png" alt="">
            </div>
            <div id="slide-20">
                <img src="/img/imgs/53.png" alt="">
            </div>
        </div>
    </div>

    <!-- E =================================== -->
    <div class="slider">
        <p>E</p>
        
        <a href="#slide-21">Major</a>
        <a href="#slide-22">Minor</a>
        <a href="#slide-23">5</a>
        <a href="#slide-24">7</a>
        <a href="#slide-25">maj7</a>

        <div class="slides">
            <div id="slide-21">
                <img src="/img/imgs/10.png" alt="">
            </div>
            <div id="slide-22">
                <img src="/img/imgs/9.png" alt="">
            </div>
            <div id="slide-23">
                <img src="/img/imgs/8.png" alt="">
            </div>
            <div id="slide-24">
                <img src="/img/imgs/7.png" alt="">
            </div>
            <div id="slide-25">
                <img src="/img/imgs/11.png" alt="">
            </div>
        </div>
    </div>

    <!-- F =================================== -->
    <div class="slider">
        <p>F</p>
        
        <a href="#slide-26">Major</a>
        <a href="#slide-27">Minor</a>
        <a href="#slide-28">5</a>
        <a href="#slide-29">7</a>
        <a href="#slide-30">maj7</a>

        <div class="slides">
            <div id="slide-26">
                <img src="/img/imgs/13.png" alt="">
            </div>
            <div id="slide-27">
                <img src="/img/imgs/14.png" alt="">
            </div>
            <div id="slide-28">
                <img src="/img/imgs/15.png" alt="">
            </div>
            <div id="slide-29">
                <img src="/img/imgs/16.png" alt="">
            </div>
            <div id="slide-30">
                <img src="/img/imgs/17.png" alt="">
            </div>
        </div>
    </div>

    <!-- F# =================================== -->
    <div class="slider">
        <p>F#</p>
        
        <a href="#slide-31">Major</a>
        <a href="#slide-32">Minor</a>
        <a href="#slide-33">5</a>
        <a href="#slide-34">7</a>
        <a href="#slide-35">maj7</a>

        <div class="slides">
            <div id="slide-31">
                <img src="/img/imgs/3.png" alt="">
            </div>
            <div id="slide-32">
                <img src="/img/imgs/4.png" alt="">
            </div>
            <div id="slide-33">
                <img src="/img/imgs/5.png" alt="">
            </div>
            <div id="slide-34">
                <img src="/img/imgs/1.png" alt="">
            </div>
            <div id="slide-35">
                <img src="/img/imgs/2.png" alt="">
            </div>
        </div>
    </div>

    <!-- G =================================== -->
    <div class="slider">
        <p>G</p>
        
        <a href="#slide-36">Major</a>
        <a href="#slide-37">Minor</a>
        <a href="#slide-38">5</a>
        <a href="#slide-39">7</a>
        <a href="#slide-40">maj7</a>

        <div class="slides">
            <div id="slide-36">
                <img src="/img/imgs/14.png" alt="">
            </div>
            <div id="slide-37">
                <img src="/img/imgs/13.png" alt="">
            </div>
            <div id="slide-38">
                <img src="/img/imgs/15.png" alt="">
            </div>
            <div id="slide-39">
                <img src="/img/imgs/16.png" alt="">
            </div>
            <div id="slide-40">
                <img src="/img/imgs/17.png" alt="">
            </div>
        </div>
    </div>

<!-- G# =================================== -->
    <div class="slider">
        <p>G#</p>
        
        <a href="#slide-41">Major</a>
        <a href="#slide-42">Minor</a>
        <a href="#slide-43">5</a>
        <a href="#slide-44">7</a>
        <a href="#slide-45">maj7</a>

        <div class="slides">
            <div id="slide-41">
                <img src="/img/imgs/8.png" alt="">
            </div>
            <div id="slide-42">
                <img src="/img/imgs/9.png" alt="">
            </div>
            <div id="slide-43">
                <img src="/img/imgs/10.png" alt="">
            </div>
            <div id="slide-44">
                <img src="/img/imgs/7.png" alt="">
            </div>
            <div id="slide-45">
                <img src="/img/imgs/11.png" alt="">
            </div>
        </div>
    </div>

    <!-- A =================================== -->
    <div class="slider">
        <p>A</p>
        
        <a href="#slide-46">Major</a>
        <a href="#slide-47">Minor</a>
        <a href="#slide-48">5</a>
        <a href="#slide-49">7</a>
        <a href="#slide-50">maj7</a>

        <div class="slides">
            <div id="slide-46">
                <img src="/img/imgs/5.png" alt="">
            </div>
            <div id="slide-47">
                <img src="/img/imgs/3.png" alt="">
            </div>
            <div id="slide-48">
                <img src="/img/imgs/2.png" alt="">
            </div>
            <div id="slide-49">
                <img src="/img/imgs/1.png" alt="">
            </div>
            <div id="slide-50">
                <img src="/img/imgs/4.png" alt="">
            </div>
        </div>
    </div>

    <!-- A# =================================== -->
    <div class="slider">
        <p>A#</p>
        
        <a href="#slide-51">Major</a>
        <a href="#slide-52">Minor</a>
        <a href="#slide-53">5</a>
        <a href="#slide-54">7</a>
        <a href="#slide-55">maj7</a>

        <div class="slides">
            <div id="slide-51">
                <img src="/img/imgs/16.png" alt="">
            </div>
            <div id="slide-52">
                <img src="/img/imgs/17.png" alt="">
            </div>
            <div id="slide-53">
                <img src="/img/imgs/15.png" alt="">
            </div>
            <div id="slide-54">
                <img src="/img/imgs/14.png" alt="">
            </div>
            <div id="slide-55">
                <img src="/img/imgs/13.png" alt="">
            </div>
        </div>
    </div>

    <!-- B =================================== -->
    <div class="slider">
        <p>B</p>
        
        <a href="#slide-56">Major</a>
        <a href="#slide-57">Minor</a>
        <a href="#slide-58">5</a>
        <a href="#slide-59">7</a>
        <a href="#slide-60">maj7</a>

        <div class="slides">
            <div id="slide-56">
                <img src="/img/imgs/7.png" alt="">
            </div>
            <div id="slide-57">
                <img src="/img/imgs/11.png" alt="">
            </div>
            <div id="slide-58">
                <img src="/img/imgs/10.png" alt="">
            </div>
            <div id="slide-59">
                <img src="/img/imgs/8.png" alt="">
            </div>
            <div id="slide-60">
                <img src="/img/imgs/9.png" alt="">
            </div>
        </div>
    </div>

</div>
</body>
