<!-- <div class="author">
    <h1 class="author__heading">Welcome to StrumSpace</h1>
    <p class="author__body">Your Source for Chords and Music Essentials</p>
</div> -->

<!-- <img src="/img/hero-image.png" alt="person looking out through window" class="hero-image" width="981" height="528"> -->
<!-- <img src="https://i.pinimg.com/originals/a0/90/20/a090200c7dd7977ba06cd6a033ffc3c0.gif"
    alt="person looking out through window" class="hero-image" width="381" height="528"> -->

<!-- ----------------------------------first section----------------------------------- -->
<section class="strumspace-hero">
    <div class="strumspace-hero-image">
        <img src="/img/guitar-white.png" alt="StrumSpace Logo">
    </div>
    <div class="strumspace-hero-content">
        <h1 class="strumspace-hero-title">Welcome to StrumSpace</h1>
        <p class="strumspace-hero-subtitle">Your Source for Chords and Music Essentials</p>
        <a href="#" class="strumspace-hero-btn">Start Learning Now</a>
    </div>
</section>

<!--------------------------------------anchor boards---------------------------------  -->
<div class="home-imgs">
    <div class="course-container">
        <!-- Left Large Section -->
        <div class="course-item large">
            <a href="/chord-Chart">
                <img src="https://images.squarespace-cdn.com/content/v1/588a7258db29d68e7d7e2253/1632250295457-CT333NZE58XWSBUUBX5S/finding%20time%20to%20practice%20guitar"
                    alt="Beginner Guitar Course">
                <div class="overlay"></div>
                <div class="course-content">
                    <h2>Master Your Chords</h2>
                    <p>Explore Charts</p>
                </div>
            </a>
        </div>

        <!-- Right Small Sections -->
        <div class="course-item">
            <a href="/about">
                <img src="https://images.squarespace-cdn.com/content/v1/588a7258db29d68e7d7e2253/1632250179606-CO803QL3EKGOU2ZRWCQ8/finding+time+to+practice+guitar"
                    alt="Workouts">
                <div class="overlay"></div>
                <div class="course-content">
                    <h3>Our Story & Mission</h3>
                    <p>Discover More</p>
                </div>
            </a>
        </div>

        <div class="course-item">
            <a href="/songs">
                <img src="https://ninebuzz.com/wp-content/uploads/2016/02/guitar-practice-mistakes.jpg" alt="Technique">
                <div class="overlay"></div>
                <div class="course-content">
                    <h3>Play Your Favorite Songs</h3>
                    <p>Browse Songs</p>
                </div>
            </a>
        </div>

        <div class="course-item">
            <a href="/Metronome">
                <img src="https://images.squarespace-cdn.com/content/v1/588a7258db29d68e7d7e2253/1551827044947-3VF0MCQCEY6G2L7ECBN3/guitar+practice+guide"
                    alt="Music Theory">
                <div class="overlay"></div>
                <div class="course-content">
                    <h3> Stay in Rhythm </h3>
                    <p>Use the Metronome</p>
                </div>
            </a>
        </div>

        <div class="course-item">
            <a href="/Fret-Notes">
                <img src="https://cdn.mos.cms.futurecdn.net/uzTLL8TfodYbWfSNXijcTF.jpg" alt="Lead Guitar">
                <div class="overlay"></div>
                <div class="course-content">
                    <h3>Learn Fretboard Notes</h3>
                    <p>Start Learning</p>
                </div>
            </a>
        </div>
    </div>
</div>

    <div class="scroll-container"></div>


<!-- -------------------------------accordion---------------------------------------- -->

<p class="accordion-heading">Frequently Asked Questions About Playing the Guitar</p>
<div class="accordion">
    <div class="accordion-item">
        <button class="accordion-header">How to play chords on the guitar?</button>
        <div class="accordion-content">
            <p>Guitar chords are some of the first things a beginner guitarist will learn to play. Play guitar chords to get familiar with the guitar fretboard and build finger strength on your fretting hand. In short, guitar chords consist of multiple notes played at the same time. The challenge of playing guitar chords is knowing which notes to play and which strings to leave ‘open’. When learning to play the guitar, guitar chord charts will become your new best friend. Guitar chord charts are sometimes referred to as guitar chord diagrams instead.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">What guitar chords should I learn first?</button>
        <div class="accordion-content">
            <p>All new guitarists should first learn to play the so-called cowboy chords. These are also known as open chords. Cowboy chords are great for beginners as they usually require only three fingers to play while the other strings ring open. Some good beginner guitar chords include the major chords E, D and C as well as the minor chords Am and Em.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">How to play guitar with tablature?</button>
        <div class="accordion-content">
            <p>Once you’ve got the hang of playing the basic beginner chords, it’s time to move to guitar tablature, or guitar tabs, as they’re also known. In guitar tabs, the notes are represented by numbers and the tabs are read from left to right. Each horizontal line in a guitar tab represents a string of the guitar. With guitar tabs you can read more than just chords and individual notes, such as bends, slides, hammer-ons, pull-offs and much more.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">Should I learn to play electric or acoustic guitar?</button>
        <div class="accordion-content">
            <p>Whether you choose an acoustic guitar or an electric instrument instead is up to you and your preferences. An acoustic guitar is better suited for music genres such as folk, country and acoustic rock as well as playing guitar chords. Acoustic guitars are great instruments for learning guitar as a beginner. Meanwhile, the electric guitar is great for playing guitar solos, heavier riffs and various genres of rock and heavy metal. Check out our instrument recommendations for electric and acoustic guitars.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">What songs can I learn to play?</button>
        <div class="accordion-content">
            <p>Yousician’s song library allows you to learn guitar by playing your favorite songs. The song library covers a wide variety of musical genres with songs by numerous artists and bands. Whether you’re into acoustic country music, hard and heavy rock bands or upbeat pop songs, Yousician has the best songs to learn guitar to. Check out Yousician’s full song library to find your favorite guitar songs and bands.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">How do I tune my guitar?</button>
        <div class="accordion-content">
            <p>One important part of the learning process is being able to tune your guitar. Trying to learn guitar with an instrument that is out of tune is not a fun experience, so always make sure all six strings of your guitar are in tune. You can learn how to tune your guitar to the standard EADGBE tuning by ear. However, a good guitar tuner or an online guitar tuner app makes things much easier.</p>
        </div>
    </div>

    <div class="accordion-item">
        <button class="accordion-header">Can I play guitar left-handed?</button>
        <div class="accordion-content">
            <p>Learning to play the guitar left-handed is possible just as much as playing right-handed. With Yousician, you can turn on the left-handed mode to learn how to play the guitar as a leftie!</p>
        </div>
    </div>
</div>

<script>
    document.querySelectorAll(".accordion-header").forEach(button => {
        button.addEventListener("click", function () {
            const item = this.parentElement;
            
            // Close all other accordions
            document.querySelectorAll(".accordion-item").forEach(otherItem => {
                if (otherItem !== item) {
                    otherItem.classList.remove("active");
                }
            });

            // Toggle current one
            item.classList.toggle("active");
        });
    });
</script>


<!-- <section class="articles">
    <h2 class="articles__heading">Latest Songs</h2>

    <ul class="article-ul">

        <% data.forEach(post=> { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article-list__date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>

    </ul>



    <a href="/songs" class="pagination">&lt; View More Posts</a>
</section> -->